body {
    background-color: black;
    color: white;
   
}

#gameBoard {
    width: 500px;
    height: 500px;
    border: 3px solid;
}

.gameContainer {
    text-align: center;
    

}

#scoreText {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    font-weight: 900;
    
}

#resetBtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 7px solid;
    border-color: red;
    border-radius: 20px;
    cursor: pointer;
}
